@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142 56% 45%; /* #2DB660 */
    --primary-foreground: 0 0% 100%;
    --on-primary: 0 0% 100%; /* #FFFFFF */
    --primary-container: 142 69% 82%; /* #B7F2CB */
    --on-primary-container: 142 71% 15%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 142 56% 95%;
    --accent-foreground: 142 56% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --error-container: 0 100% 97%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142 56% 45%;
    --chart-1: 142 56% 56%;
    --chart-2: 340 82% 71%;
    --chart-3: 142 56% 56%;
    --chart-4: 142 46% 66%;
    --chart-5: 142 36% 76%;

    --sidebar-background: 240 4.8% 95.9%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 142 56% 45%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5.9% 90%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 85%;
    --sidebar-ring: 142 56% 45%;
  }

  .dark {
    --background: 240 5% 15%;
    --foreground: 0 0% 98%;
    --card: 240 3.7% 19.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 56% 56%; /* #2DB660 */
    --primary-foreground: 0 0% 100%;
    --on-primary: 0 0% 100%; /* #FFFFFF */
    --primary-container: 142 71% 15%; /* #B7F2CB */
    --on-primary-container: 142 69% 82%;
    --secondary: 210 40% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 22.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 142 56% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --error-container: 0 63% 15%;
    --border: 240 3.7% 25.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 56% 56%;
    --chart-1: 142 56% 56%;
    --chart-2: 340 82% 71%;
    --chart-3: 142 56% 56%;
    --chart-4: 142 46% 66%;
    --chart-5: 142 36% 76%;
    
    --sidebar-background: 240 10% 13.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 142 56% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 20.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 25.9%;
    --sidebar-ring: 142 56% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
